*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    margin: 1.5rem auto;
}

header h1{
    font-size: 42px;
    transition: all 0.5s ease;
}

header h1 span{
    border-bottom: 4px solid black;

}

header h1:hover{
    scale: 1.1;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}